Repository rainbowdashlabs/sadu, changes with the labels that .github/labeler.yml gives for each.
All labels: m:updater, m:testing, m:sqlite, m:queries, m:postgresql, m:mysql, m:mariadb, m:mapper, m:examples, m:datasource, m:core, ci

Update javadoc to include JPMS infos
  .github/workflows/javadocs.yml
  build.gradle.kts
Labels: ci

test
  sadu-core/src/main/java/de/chojo/sadu/core/types/SqlType.java
Labels: m:core

test
  sadu-sqlite/src/main/java/de/chojo/sadu/sqlite/types/SqLiteTypes.java
Labels: m:sqlite

Fix JPMS module naming (#256)
  sadu-core/src/main/java/module-info.java
  sadu-datasource/src/main/java/module-info.java
  sadu-mapper/src/main/java/module-info.java
  sadu-mariadb/src/main/java/module-info.java
  sadu-mysql/src/main/java/module-info.java
  sadu-postgresql/src/main/java/module-info.java
  sadu-queries/src/main/java/module-info.java
  sadu-sqlite/src/main/java/module-info.java
  sadu-testing/src/main/java/module-info.java
  sadu-updater/src/main/java/module-info.java
Labels: m:updater, m:testing, m:sqlite, m:queries, m:postgresql, m:mysql, m:mariadb, m:mapper, m:datasource, m:core

test
  sadu-sqlite/src/main/java/de/chojo/sadu/sqlite/types/SqLiteTypes.java
Labels: m:sqlite

.github/labeler.yml:

"t:feature":
  - head-branch: "feature"
"t:fix":
  - head-branch: "fix"
"t:deps":
  - head-branch: "deps"
"t:other":
  - head-branch: "^(?!feature|fix|deps).*$"


"m:updater":
  - changed-files:
      - any-glob-to-any-file: "sadu-updater/**"
"m:testing":
  - changed-files:
      - any-glob-to-any-file: "sadu-testing/**"
"m:sqlite":
  - changed-files:
      - any-glob-to-any-file: "sadu-sqlite/**"
"m:queries":
  - changed-files:
      - any-glob-to-any-file: "sadu-queries/**"
"m:postgresql":
  - changed-files:
      - any-glob-to-any-file: "sadu-postgresql/**"
"m:mysql":
  - changed-files:
      - any-glob-to-any-file: "sadu-mysql/**"
"m:mariadb":
  - changed-files:
      - any-glob-to-any-file: "sadu-mariadb/**"
"m:mapper":
  - changed-files:
      - any-glob-to-any-file: "sadu-mapper/**"
"m:examples":
  - changed-files:
      - any-glob-to-any-file: "sadu-examples/**"
"m:datasource":
  - changed-files:
      - any-glob-to-any-file: "sadu-datasource/**"
"m:core":
  - changed-files:
      - any-glob-to-any-file: "sadu-core/**"
"ci":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
